set_io b0 5
set_io b1 6
set_io b2 2
set_io b3 3
set_io b4 64
set_io b5 62
set_io b6 63
set_io b7 61
set_io b8 60
set_io b9 59
set_io bplus 57
set_io bminus 56
set_io bmult 55
set_io bdiv 54
set_io bsin 53
set_io bcos 40
set_io btan 42
set_io bexp 38
set_io benter 36
set_io bdecim 37
set_io rst 39
set_io toggle 34
set_io LCD_EN 33
set_io LCD_RS 32
set_io DATA(7) 31 
set_io DATA(6) 30
set_io DATA(5) 28 
set_io DATA(4) 27
